<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
  <test thread-count="5" name="First">
    <classes>
      <class name="companyName.projectName.e2etrial"/>
    </classes>
  </test> <!-- Test -->
   <test name="Second">
	 <classes>
      <class name="companyName.projectName.e2etrial2_errors"/>
	</classes>
   </test>
   <test name="Third">
	 <classes>
      <class name="companyName.projectName.e2etrial3"/>
	</classes>
   </test>
</suite> <!-- Suite -->
